

<div id="carouselLanches" class="carousel slide">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/Images/aneisCebola.png" class="d-block w-100 imgCarousel" alt="Foto Decorativa de Aneis de Cebola">
        </div>
        <div class="carousel-item">
            <img src="~/Images/batataFrita.jpg" class="d-block w-100 imgCarousel" alt="Foto Decorativa de Batata Frita">
        </div>
        <div class="carousel-item">
            <img src="~/Images/Hamburguer.png" class="d-block w-100 imgCarousel" alt="Foto Decorativa de Hamburguer">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselLanches" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselLanches" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
